@font-face {
    font-family: "mine";
    src: url("../fonts/minecraft.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "mine";
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5vh;
    background-color: #1E1E1E;

    color: white;
}

button {
    padding: 3vh 3vw;

    color: white;
    background: #128947;
    border: black 2px solid;

    box-shadow: inset 0px 7px #35CE49, inset 0 -7px #0B4E2D;

    cursor: pointer;
}

/* button::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 5%;
    background-color: ;
} */

nav {
    display: flex;
    gap: 2vw;
}

/*главная*/
main {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 8vh;

    background-size: 5%;
    background-image: url('../img/stone.webp');
}

.list{
    position: relative;

    display: flex;
    flex-wrap: wrap;
    gap: 2vw;

    width: 34%;
    height: 92%;
    padding: 5vh;

    background-image: url('../img/base.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.craftingTable {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1vw;

    width: 390px;
    height: 390px;
    padding: 13vh;

    background-image: url('../img/craftingTable.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.cell {
    position: relative;
    width: 50px;
    height: 50px;

    z-index: 1;
}

.cell::before {
    content: url('../img/cell.png');
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}


#arrow {
    filter: brightness(0%);
}

.result {
    width: 80px;
    height: 80px;

    background-image: url('../img/cell.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 5vh;

    background-color: #1E1E1E;
    color: white;
}

/* страница с формой */
.formPage{
    flex-direction: column;
    background-image: url(../img/backgroundForm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    display: flex;
    flex-direction: column;
    gap: 4vh;

    width: 40vw;
    padding: 8vh;

    border-radius: 3%;

    background-color: #262626;
    color: white;
}

form h1{
    text-align: center;
}

input, select{
    padding: 2vh;
    border: none;

    background: #131313;
    color: white;
}

form>div{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}